@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-exchange-bg text-exchange-text antialiased;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2B3139;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #474D57;
}

/* Hide spin buttons on number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
